@define-color base   #303446;
@define-color mantle #292c3c;
@define-color crust  #232634;

@define-color text     #c6d0f5;
@define-color subtext0 #a5adce;
@define-color subtext1 #b5bfe2;

@define-color surface0 #414559;
@define-color surface1 #51576d;
@define-color surface2 #626880;

@define-color overlay0 #737994;
@define-color overlay1 #838ba7;
@define-color overlay2 #949cbb;

@define-color blue      #8caaee;
@define-color lavender  #babbf1;
@define-color sapphire  #85c1dc;
@define-color sky       #99d1db;
@define-color teal      #81c8be;
@define-color green     #a6d189;
@define-color yellow    #e5c890;
@define-color peach     #ef9f76;
@define-color maroon    #ea999c;
@define-color red       #e78284;
@define-color mauve     #ca9ee6;
@define-color pink      #f4b8e4;
@define-color flamingo  #eebebe;
@define-color rosewater #f2d5cf;

* {
  font-family: CaskaydiaCove Nerd Font;
  font-size: 24px;
}

window#waybar {
  background-color: @mantle;
  color: @text;
}

tooltip {
  background-color: @base;
  color: @text;
  border-radius: 0;
  border: solid 2px @lavender;
}

#temperature,
#memory,
#window,
#clock,
#pulseaudio,
#tray {
  padding: 0 6px;  
}

#tray menu {
  background-color: @base;
  color: @text;
  border: 2px solid @lavender;
  border-radius: 0;
}
