output "DP-3" {
    mode "2560x1440@179.999"
    focus-at-startup
    backdrop-color "#292c3c"
    scale 1.25
    position x=0 y=0
}

output "HDMI-A-1" {
    mode "3840x2160@60.000"
    scale 2.5
    position x=0 y=-864
}
